---
import mobileLogo from "@assets/mobileLogo.webp";
import MobileLogo from "@components/porsche/mobileLogo.astro";
import Sitelogo from "@components/sitelogo.astro";
import Porscheswiper from "@components/porscheswiper.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="PORCO DIOOOOOOOOOOOOOOOOOOOOOOOOOOOO">
  <!-- // SECTION: Mobile header???? -->
  <div
    class="grid grid-cols-6 w-full h-[80px] shadow-lg align-center py-4 bg-gradient-to-b from-black to-transparent absolute">
    <div class="col-span-12 flex justify-center">
      <MobileLogo />
    </div>
  </div>

  <!-- // SECTION: Hero section (img + main title) -->
  <div
    class="w-full h-[540px] md:h-[350px] grid grid-cols-12"
    style="
    background-image:
      linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 70%),
      url('https://images-porsche.imgix.net/-/media/11B3D8FD4D91432C9A2C522C653C8593_4875612389034FBAB30FE166B06E7DA6_EX18MODID0024-porsche-exclusive-leather-handling?w=999&q=85&auto=format%201x,https://images-porsche.imgix.net/-/media/11B3D8FD4D91432C9A2C522C653C8593_4875612389034FBAB30FE166B06E7DA6_EX18MODID0024-porsche-exclusive-leather-handling?w=999&q=45&dpr=2&auto=format%202x');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  ">
    <h1
      class="font-medium text-3xl text-white col-span-10 col-start-2 flex items-end py-10">
      Car Wrapping a Parma.
    </h1>
  </div>

  <!-- // SECTION: Fixed anchor links -->
  <div
    class="grid grid-cols-12 w-full h-[70px] bg-white shadow-lg mb-32 sticky top-0 z-50">
    <div class="data col-span-12 col-start-2 flex items-center text-gray-800 text-md">
      <button
        class="py-2 mr-4 hover:rounded-sm hover:bg-gray-200 duration-200 border-b-2 border-black"
        >Introduzione</button
      >
      <button
        class="py-2 mr-4 hover:rounded-sm hover:bg-gray-200 duration-200 border-b-2 border-white"
        >Incentivi</button
      >
      <button
        class="py-2 mr-4 hover:rounded-sm hover:bg-gray-200 duration-200 border-b-2 border-white"
        >Soluzioni</button
      >
      <button
        class="py-2 mr-4 hover:rounded-sm hover:bg-gray-200 duration-200 border-b-2 border-white"
        >Costi</button
      >
    </div>
  </div>

  <!-- // SECTION: Page introduction / Heritage design -->
  <div class="grid grid-cols-12 mb-16">
    <h2 class="col-span-10 col-start-2 text-black font-semibold text-2xl text-center">
      Una Porsche deve essere una Porsche. Grazie all'esperienza. Alla passione. E alla
      tua ispirazione. E viene creata in un posto speciale: Porsche Exclusive Manufaktur.
    </h2>
  </div>

  <Porscheswiper />

  <!-- // SECTION: Img + data banner display -->
  <section class="grid grid-cols-12 my-24 mb-36">
    <div class="col-span-10 col-start-2 rounded-xl h-fit">
      <div class="imgWrapper w-full rounded-t-xl overflow-hidden">
        <img
          src="https://images-porsche.imgix.net/-/media/BCC42F805B8144D897F6C9DD19C10A69_722C6BC6BE634839A50B1EBA3564F1B6_EX25W23OX0013-911-heritage-design-range?w=1759&q=85&auto=format"
          alt=""
          class="w-full h-[250px] md:h-[400px] object-cover"
        />
      </div>

      <div class="dataWrapper bg-black py-8 px-4 rounded-b-xl text-white">
        <h3 class="text-white font-semibold text-3xl">Heritage Design.</h3>
        <p class="text-white font-medium leading-normal !text-base !my-4">
          Modelli da collezione in edizione limitata e pacchetti di equipaggiamento
          riportano su strada lo stile di vita di epoche passate, rendendo omaggio alle
          iconiche Porsche Classic con numerosi dettagli di design.
        </p>
        <button
          class="bg-white text-base text-black rounded-sm w-full h-[55px] md:w-[200px]">
          Scopri di più
        </button>
      </div>
    </div>
  </section>

  <!-- // SECTION: other pages box links -->
  <section class="grid grid-cols-12">
    <div
      class="firstLink col-span-10 col-start-2 h-[300px] rounded-lg py-6 px-4 text-white mb-12"
      style="
    background-image:
      linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 70%),
      url('https://images-porsche.imgix.net/-/media/11B3D8FD4D91432C9A2C522C653C8593_4875612389034FBAB30FE166B06E7DA6_EX18MODID0024-porsche-exclusive-leather-handling?w=999&q=85&auto=format%201x,https://images-porsche.imgix.net/-/media/11B3D8FD4D91432C9A2C522C653C8593_4875612389034FBAB30FE166B06E7DA6_EX18MODID0024-porsche-exclusive-leather-handling?w=999&q=45&dpr=2&auto=format%202x');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  ">
      <div class="flex justify-between items-end h-full">
        <p class="!text-lg !mb-0">Oscuramento vetri</p>
        <p class="!text-lg !mb-0">Icon</p>
      </div>
    </div>
    <!-- // NOTE: 2nd box -->
    <div
      class="firstLink col-span-10 col-start-2 h-[300px] rounded-lg py-6 px-4 text-white mb-12"
      style="
    background-image:
      linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 70%),
      url('https://images-porsche.imgix.net/-/media/11B3D8FD4D91432C9A2C522C653C8593_4875612389034FBAB30FE166B06E7DA6_EX18MODID0024-porsche-exclusive-leather-handling?w=999&q=85&auto=format%201x,https://images-porsche.imgix.net/-/media/11B3D8FD4D91432C9A2C522C653C8593_4875612389034FBAB30FE166B06E7DA6_EX18MODID0024-porsche-exclusive-leather-handling?w=999&q=45&dpr=2&auto=format%202x');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  ">
      <div class="flex justify-between items-end h-full">
        <p class="!text-lg !mb-0">Car Wrapping</p>
        <p class="!text-lg !mb-0">Icon</p>
      </div>
    </div>
  </section>

  <!-- // SECTION: Two large display boxes -->
  <section class="grid grid-cols-12 py-64">
    <div
      class="first col-span-10 col-start-2 h-[500px] rounded-lg py-6 px-4 mb-12 flex justify-end flex-col"
      style="
    background-image:
      linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 70%),
      url('https://images-porsche.imgix.net/-/media/E003CD07F82E42388BD7CF71441434C4_39BE012A5CD44B7E99C07C6766C4E454_porsche-range?w=479&ar=3%3A4&q=85&auto=format');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  ">
      <h3 class="text-white !text-2xl">Porsche Car Configurator.</h3>
      <p class="text-white !text-base !my-2">
        Scopri le diverse opzioni per progettare la Porsche dei tuoi sogni esattamente
        come la vuoi.
      </p>
      <button
        class="bg-white text-base text-black rounded-sm w-full h-[55px] md:bg-transparent md:text-white md:w-[200px] md:border-2">
        Scopri di più
      </button>
    </div>

    <!-- // DESC: Second box -->
    <div
      class="first col-span-10 col-start-2 h-[500px] rounded-lg py-6 px-4 mb-12 flex justify-end flex-col"
      style="
    background-image:
      linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 70%),
      url('https://images-porsche.imgix.net/-/media/1439ABF09D884D688B5D786BB50F03B5_A310133F1EB84D33826D95134CFB704A_TE24MODOX0008-911-carrera-and-macan?w=479&ar=3%3A4&q=85&auto=format');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  ">
      <h3 class="text-white !text-2xl">Porsche Car Configurator.</h3>
      <p class="text-white !text-base !my-2">
        Scopri le diverse opzioni per progettare la Porsche dei tuoi sogni esattamente
        come la vuoi.
      </p>
      <button
        class="bg-white text-base text-black rounded-sm w-full h-[55px] md:bg-transparent md:text-white md:w-[200px] md:border-2">
        Scopri di più
      </button>
    </div>
  </section>

  <!-- // Debug: -->
  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <div class="bg-red-500 h-[400px] flex justify-center items-center">porcodio</div>
    <div class="bg-blue-500 h-[400px] flex justify-center items-center">diocane</div>
    <div class="bg-gray-500 h-[400px] flex justify-center items-center">diomerda</div>
  </section>

  <!-- // DESC: Styling below -->
  <style>
    p {
      @apply text-4xl font-medium leading-normal my-8;
    }

    h2 {
      /* @apply text-black font-semibold text-6xl; */
    }

    h3 {
      /* @apply font-semibold text-6xl; */
    }
  </style>
</Layout>
