---
import Container from "@components/container.astro";
import Headvideo from "@components/porsche/headVideo.astro";
import PorscheSwiper from "@components/porsche/porscheSwiper.astro";
import CardsHero from "@components/porsche/cardsHero.astro";
import Cards from "@components/porsche/cards.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
    <Headvideo />
    <CardsHero />
    <PorscheSwiper />
    <Cards
      title="Porsche Car Configurator."
      text="Scopri le diverse opzioni per progettare la Porsche dei tuoi sogni esattamente come non la vuoi."
    />
    <!-- <section class="text-center mt-24 dark:bg-black">
      <h1 class="text-6xl text-black dark:text-white font-semibold mb-4">
        Porsche Car Configurator.
      </h1>
      <h2 class="text-5xl text-black dark:text-white font-medium mb-4">
        Porsche Car Configurator.
      </h2>
      <h3 class="text-4xl text-black dark:text-white font-medium mb-4">
        Porsche Car Configurator.
      </h3>
      <h4 class="text-3xl text-black dark:text-white font-medium mb-4">
        Porsche Car Configurator.
      </h4>
      <h5 class="text-2xl text-black dark:text-white font-normal mb-4">
        Porsche Car Configurator.
      </h5>
      <p class="text-lg text-black dark:text-white font-normal mb-4">
        Modelli da collezione in edizione limitata e pacchetti di equipaggiamento
        riportano su strada lo stile di vita di epoche passate, rendendo omaggio alle
        iconiche Porsche Classic con numerosi dettagli di design.
      </p>

      <BtnWhite text="white btn clik meh" />
      <BtnTransp text="trans btn don't" />
      <BtnBlack text="fuck you niggah" />
      <BtnGray text="billie gray madafakka" />
    </section> -->
  </Container>
</Layout>
