---
import Link from "./ui/link.astro";
---

<!-- -->
<div
  class="w-full h-full min-h-[800px] grid grid-cols-12"
  style="
    background-image:
      linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 70%),
      url('https://images-porsche.imgix.net/-/media/11B3D8FD4D91432C9A2C522C653C8593_4875612389034FBAB30FE166B06E7DA6_EX18MODID0024-porsche-exclusive-leather-handling?w=999&q=85&auto=format%201x,https://images-porsche.imgix.net/-/media/11B3D8FD4D91432C9A2C522C653C8593_4875612389034FBAB30FE166B06E7DA6_EX18MODID0024-porsche-exclusive-leather-handling?w=999&q=45&dpr=2&auto=format%202x');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  ">
  <h1
    class="font-medium text-6xl text-white col-span-5 md:col-span-8 sm:col-span-8 col-start-2 md:col-start-2 sm:col-start-2 flex items-end py-20">
    Car Wrapping a Parma.
  </h1>
</div>

<div
  class="grid grid-cols-12 w-full min-h-[80px] bg-white shadow-md mb-32 sticky top-0 z-50">
  <div
    class="data col-span-12 md:col-start-3 col-start-2 flex items-center text-black text-md justify-between max-w-[400px]">
    <button
      class="p-1 hover:rounded-sm hover:bg-gray-200 duration-200 border-b-2 border-black"
      >Introduzione</button
    >
    <button class="p-1 hover:rounded-sm hover:bg-gray-200 duration-200">Incentivi</button>
    <button class="p-1 hover:rounded-sm hover:bg-gray-200 duration-200">Soluzioni</button>
    <button class="p-1 hover:rounded-sm hover:bg-gray-200 duration-200">Costi</button>
    <button class="p-1 hover:rounded-sm hover:bg-gray-200 duration-200"
      >Lavori fatti</button
    >
  </div>
</div>
