---
const { text = "Missing text data" } = Astro.props;
---

<button
  class="btn select-none border-solid hover:border-neutral-500 rounded-md w-full py-4 px-6 border-2 cursor-pointer
     hover:bg-neutral-200 hover:!text-black hover:duration-500 hover:ease-in-out lg:max-w-fit md:max-w-fit
      dark:text-white text-black border-neutral-800">
  {text}
</button>
